<header class="header">
  <section class="ingredients">
    <div class="container section-pading">
      <h2 class="ingredients-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="span-title">TASTE</span> SENSATION
      </h2>
      <p class="ingredients-text">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        <br />
        is in the details. From the sourcing of the finest ingredients to the
        <br />
        careful crafting of each individual piece, every step of our process
        adds <br />
        up to one exceptional taste sensation.
      </p>

      <ul class="ingredients-list">
        <li class="ingredients-item">
          <div class="ingredients-div">
            <img
              class="ingredients-img"
              src="../img/milk-chocolate.png"
              alt="MILK CHOCOLATE"
              width="214"
              height="160"
            />
            <button class="ingredients-button" type="button">
              <img src="../img/arrow.svg" alt="arrow" />
            </button>
            <h3 class="ingredients-title3">MILK CHOCOLATE</h3>
          </div>
          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay_title">MILK CHOCOLATE</h3>
            <div class="ingredients-overlay_hidden">
              <button class="chocolate-button" type="button">chocolate</button>
              <p class="ingredients-overlay_benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay_text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </li>

        <li class="ingredients-item">
          <div class="ingredients-overlay-div">
            <img
              class="ingredients-img"
              src="./images/ingredients/milk.png"
              alt="MILK"
              width="214"
              height="160"
            />
            <button class="img-button" type="button">
              <img src="./images/icons/arrow.svg" alt="arrow" />
            </button>
            <h3 class="ingredients-title">MILK</h3>
          </div>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">MILK</h3>
            <div class="overlay-p">
              <button class="chocolate-button" type="button">milk</button>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </li>
        <li class="ingredients-item">
          <img
            class="ingredients-img"
            src="./images/ingredients/nuts.png"
            alt="NUTS"
            width="214"
            height="160"
          />
          <h3 class="ingredients-title">NUTS</h3>
          <button class="img-button" type="button">
            <img src="./images/icons/arrow.svg" alt="arrow" />
          </button>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">Nuts</h3>
            <div class="overlay-p">
              <p class="ingredients-overlay-chocolate">nuts</p>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </li>
        <li class="ingredients-item">
          <img
            class="ingredients-img"
            src="./images/ingredients/semi-sweet-chocolate.png"
            alt="SEMI - SWEET CHOCOLATE"
            width="214"
            height="160"
          />
          <h3 class="ingredients-title">SEMI - SWEET CHOCOLATE</h3>
          <button class="img-button" type="button">
            <img src="./images/icons/arrow.svg" alt="arrow" />
          </button>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">SEMI - SWEET CHOCOLATE</h3>
            <div class="overlay-p">
              <p class="ingredients-overlay-chocolate">sweet chocolate</p>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste
            </p>
          </div>
        </li>
        <li class="ingredients-item">
          <img
            class="ingredients-img"
            src="./images/ingredients/cacao.png"
            alt="CACAO"
            width="214"
            height="160"
          />
          <h3 class="ingredients-title">CACAO</h3>
          <button class="img-button" type="button">
            <img src="./images/icons/arrow.svg" alt="arrow" />
          </button>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">CACAO</h3>
            <div class="overlay-p">
              <p class="ingredients-overlay-chocolate">cacao</p>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Cocoa is a natural product obtained from the fruits of the cocoa
              tree (Theobroma cacao). This tropical fruit contains beans, from
              which cocoa mass, cocoa powder and chocolate are made. The history
              of the use of cocoa goes back to ancient times. Already in ancient
              Mesoamerica, the Mayan and Aztec civilizations used cocoa in their
              culture and rituals
            </p>
          </div>
        </li>
        <li class="ingredients-item">
          <img
            class="ingredients-img"
            src="./images/ingredients/rasberry.png"
            alt="RASPBERRY"
            width="214"
            height="160"
          />
          <h3 class="ingredients-title">RASPBERRY</h3>
          <button class="img-button" type="button">
            <img src="./images/icons/arrow.svg" alt="arrow" />
          </button>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">raspberry</h3>
            <div class="overlay-p">
              <p class="ingredients-overlay-chocolate">raspberry</p>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Raspberry is a tasty and aromatic berry plant that is popular all
              over the world. It belongs to the pink family and grows in many
              regions, including North America, Europe and Asia. Raspberries
              have many varieties and color variations, from red to yellow and
              black.
            </p>
          </div>
        </li>
        <li class="ingredients-item">
          <img
            class="ingredients-img"
            src="./images/ingredients/coconut-oil.png"
            alt="COCONUT"
            width="214"
            height="160"
          />
          <h3 class="ingredients-title">COCONUT OIL</h3>
          <button class="img-button" type="button">
            <img src="./images/icons/arrow.svg" alt="arrow" />
          </button>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">COCONUT OIL</h3>
            <div class="overlay-p">
              <p class="ingredients-overlay-chocolate">coconut</p>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Coconut oil is a vegetable oil obtained from the pulp of the fruit
              of the coconut palm (Cocos nucifera). It is widely used in
              cooking, cosmetics and medicine, thanks to its numerous useful
              properties. Coconut oil is a source of saturated fats, especially
              medium-chain fatty acids, such as lauric acid.
            </p>
          </div>
        </li>
        <li class="ingredients-item">
          <img
            class="ingredients-img"
            src="./images/ingredients/vanilla.png"
            alt="VANILLA"
            width="214"
            height="160"
          />
          <h3 class="ingredients-title">VANILLA</h3>
          <button class="img-button" type="button">
            <img src="./images/icons/arrow.svg" alt="arrow" />
          </button>

          <div class="ingredients-overlay">
            <h3 class="ingredients-overlay-title">Vanilla</h3>
            <div class="overlay-p">
              <p class="ingredients-overlay-chocolate">vanilla</p>
              <p class="ingredients-overlay-benefits">the benefits</p>
            </div>
            <p class="ingredients-overlay-text">
              Vanilla is one of the most popular flavorings and seasonings in
              the world. It is obtained from the fruits of the tropical orchid
              Vanilla planifolia. Vanilla has a rich history of use as a
              seasoning, perfume component, and raw material for the production
              of confectionery.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</header>
